//
// Snippet show page styles
// --------------------------------------------------


body#snippet_show {
  @import "../components/snippet_form";

  section#snippet_url {
    padding: 1rem 0;

    h1 {
      margin: 0;
      color: $grey !important;

      button {
        padding: 0;
        height: auto !important;
        color: $grey;
      }
    }

    hr {
      margin: 0.25rem 0;
      background-color: $grey-lighter;
    }

    p {
      color: $grey;

      a {
        color: $grey;
        text-decoration: underline;

        &:hover, &:focus {
          color: $grey-dark;
        }
      }
    }
  }

  section#snippet_content {
    padding: 0;

    .container {
      margin: 0;

      pre {
        padding: 0;

        code {
          padding: 1rem;
        }
      }
    }
  }

  section#edit_snippet_divider {
    padding: 1rem 0;
  }
}
