//
// Snippet show page styles
// --------------------------------------------------


body#snippet_show {
  @import "../components/snippet_form";

  section#snippet_url {
    padding: 1rem 0;
  }

  section#snippet_content {
    padding: 0;

    .container {
      margin: 0;

      pre {
        padding: 0;

        code {
          padding: 1rem;
        }
      }
    }
  }

  section#edit_snippet_divider {
    padding: 1rem 0;
  }
}
