<section id="paste_snippet" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <%= render 'form', snippet: @snippet %>
        </div>
      </div>
    </div>
  </div>
</section>
