<% content_for :body_id do %>snippet_new<% end %>

<section id="paste_snippet" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <%= render 'form', snippet: @snippet, snippet_content_autofocus: true %>
        </div>
      </div>
    </div>
  </div>
</section>
