<% content_for :body_id do %>snippet_show<% end %>

<section id="snippet_url" class="section has-background-light">
  <div class="container is-fluid">
    <h1 class="subtitle"><%= request.original_url %></h1>
  </div>
</section>
<section id="snippet_content" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <pre><code class="<%= @snippet.lexer %>"><%= @snippet.content %></code></pre>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="paste_new_snippet" class="section">
  <div class="container is-fluid is-widescreen">
    <div class="columns">
      <div class="column">
        <div class="content">
          <%= render 'form', snippet: @new_snippet_from_current %>
        </div>
      </div>
    </div>
  </div>
</section>
