//
// Common application styles
// --------------------------------------------------


html {
  height: 100%;
}

div#flash_messages {
  display: none;
}

.noty_bar {
  &.noty_type__alert {
    background-color: $danger;
  }

  &.noty_type__success {
    background-color: $success;
  }
}

footer {
  background: none !important;
  font-size: 0.8rem;
}
